body {
	margin: auto;
	background-attachment: scroll;
	background-attachment: fixed;
	background-image: url("batman_arkham.jpg");
}

logo {
	background-image: url("#{resource['img1/hardline.jpg']}");
	height: 150px;
	width: 1138px;
}

#rodape {
	background-color: black;
	margin: auto;
	width: auto;
	left: auto;
	height: 220px;
	position: relative;
	display: block;
	font-size: 1.125rem;
    line-height: 1.33333;
    color: #FFF;
  
}
#imgRodape {
	padding-left: 800px;
	padding-top: 80px;
}
#imgRodape1 {
	padding-left: 800px;
	padding-top: 80px;
}

/* div fundo branca*/
#middle {
	position: relative;
	overflow: hidden;
	zoom: 1;
	z-index: 0;
	padding: 20px 85px;
	background-color: #FFF;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 5px 0 #AEAEAE;
	box-shadow: 0 0 10px 0 #AEAEAE;
}

/* div cinza dentro do ja sou cadastrado*/
.identification .content form {
	background: #EDEDED;
	padding: 25px;
	height: 300px;
	width: 328px;
	border-radius: 15px;
}

/* poicao da letra dentro da div ja sou cadastrado*/
.identification h4 {
	margin-bottom: 20px
}

/* poicao da letra dentro da div ja sou cadastrado*/
.identification .info {
	overflow: hidden
}
/* ja sou cadastrado*/
.identification .info .signin {
	padding-left: 315px;
}

.identification fieldset {
	background: none;
	padding: 0 10px 10px 10px;
	-position: static !important;
	-display: block
}

.identification label {
	display: block;
	margin: 4.30px 0 0 0;
	font-weight: bold
}

.identification form span {
	display: inline;
	margin-left: 5px
}

.identification .continue {
	padding: 10px;
	width: 130px;
	overflow: hidden;
	float: none !important;
	margin-right: 0 !important
}

/* divs quero me cadastrar bme cadastro*/
.identification .title {
	position: relative;
	font-weight: bold;
	color: #FFF;
	display: block;
	float: left;
	font-size: 16px;
	line-height: 40px;
	height: 36px;
	background: #333;
	padding: 0 95px;
	width: auto;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 10px 10px 0 0;
	*line-height: 34px;
}

#lojaVirtual {
	float: left;
	display: block;
	color: black;
	padding-left: 20px;
}

#formasDePagamento {
	float: left;
	display: block;
	color: black;
	padding-left: 20px;
}

#Compartilhe {
	float: left;
	display: block;
	color: black;
	padding-left: 20px;
}

#ajusteCompartilhe {
	height: 30px;
}

#nomedoSite {
	float: right;
	color: black;
	display: block;
}

.botao img {
	display: block;
	float: left;
	width: 120px;
	height: 150px;
}

#jogosEmDestaque {
	padding-left: 25px;
	display: block;
}

#jogosplataforma {
	padding-left: 50px;
	display: block;
}

#jogos1 {
	float: left;
	display: block;
	width: 120px;
	height: 150px;
}

strike {
	color: gray;
}

p {
	background-color: #eaedf2;
	border-top-style: double;
	padding-top: 20px;
}

#categoriaPlataforma {
	float: left;
	background-color: white;
	height: 1470px;
	display: block;
	border-style: double;
	border-radius: 10px;
	width: 180px;
}

#corpoDoSitePlataforma {
	float: left;
	background-color: white;
	height: 1470px;
	display: block;
	border-style: double;
	width: 958px;
	border-radius: 10px;
}

#topicoPlataforma {
	color: white;
	background-color: black;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#fundoAzul {
	color: white;
	background-color: blue;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#verdeClaro {
	color: white;
	background-color: #32CD32;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#verdeEscuro {
	color: white;
	background-color: green;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#fundoAzulClaro {
	color: black;
	background-color: #00FFFF;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#fundoVermelho {
	color: black;
	background-color: #FF0000;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.botao a:hover {
	float: left;
	color: #999;
}

#conteudoSite {
	width: 1138px;
	background-color: green;
}

#titDestaques {
	background: #373834;
	width: 100px;
	height: 25px;
	line-height: 25px;
	margin: -10px auto 10px;
	padding: 0 10px;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	position: relative;
}

#titLancamentos {
	background: #373834;
	width: 120px;
	height: 25px;
	line-height: 25px;
	margin: -10px auto 10px;
	padding: 0 10px;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	position: relative;
	display: block;
}

#formulario {
	float: right;
}